---
title: "Verification"
sidebar: true # or false to display the sidebar
sidebarlogo: atom # From (static/images/logo/)
include_footer: true # or false to display the footer
---
<div class="notification has-background-primary is-light is-light has-text-grey-darker	">
  <button class="delete"></button>
  <p>
  We are hiring several researchers (junior and senior) at either locations of Edinburgh or Paris to work on 
  <ul>
    <li>Quantum Cryptography,</li>
    <li>Quantum Verification and/or</li>
    <li>Quantum Machine Learning</li>
  </ul>
  in collaboration with key industries in the UK and France 
    <ul>
    <li>Rigetti,</li>
    <li>Riverlane,</li>
    <li>NPL,</li>
    <li>VeriQloud and </li>
    <li>Pasqal.</li>
  </ul>
  </p>
  
<p>The project will be tailor made depending on the expertise and interest of the candidate as long as it fits to our general mission of finding useful applications for quantum computing and communication.</p>

<p>Interested candidates can get in touch with Prof. Elham Kashefi.
<ul>
  <li><a href = "mailto: ekashefi@gmail.com">ekashefi@gmail.com</a></li>
</ul>
</p>

<p>A complete job description can be found
<ul>
<li><a href="https://elxw.fa.em3.oraclecloud.com/hcmUI/CandidateExperience/en/sites/CX_1001/job/5321/?utm_medium=jobshare">Senior Researcher, University of Edinburgh, School of Informatics</a></li>
</ul>
</p>
</div>
### Solution and Verification

Quantum computers promise to efficiently solve not only problems believed to be intractable for classical computers, but also problems for which verifying the solution is also considered intractable. 


### How

This raises the question of how one can check whether quantum computers are indeed producing correct results. 

### Significant Challenge

This task, known as quantum verification, has been highlighted as a significant challenge on the road to scalable quantum computing technology.

### Development

Over the last decade we have developed a large class of various techniques to address the issue of trust and benchmarking for quantum devices, adaptation and optimisation for specific platforms and applications.

# Verifcation Papers

## Efficient verification of Boson Sampling

### Abstract

The demonstration of quantum speedup, also known as quantum computational supremacy, that is the ability of quantum computers to outperform dramatically their classical counterparts, is an important milestone in the field of quantum computing. While quantum speedup experiments are gradually escaping the regime of classical simulation, they still lack efficient verification protocols and rely on partial validation. Here we derive an efficient protocol for verifying with single-mode Gaussian measurements the output states of a large class of continuous-variable quantum circuits demonstrating quantum speedup, including Boson Sampling experiments, thus enabling a convincing demonstration of quantum speedup with photonic computing. Beyond the quantum speedup milestone, our results also enable the efficient and reliable certification of a large class of intractable continuous-variable multimode quantum states.

**arXiv:** https://arxiv.org/abs/2006.03520


## Randomized Benchmarking in the Analogue Setting

### Abstract

Current development in programmable analogue quantum simulators (AQS), whose physical implementation can be realised in the near-term compared to those of large-scale digital quantum computers, highlights the need for robust testing techniques in analogue platforms. Methods to properly certify or benchmark AQS should be efficiently scalable, and also provide a way to deal with errors from state preparation and measurement (SPAM). Up to now, attempts to address this combination of requirements have generally relied on model-specific properties. We put forward a new approach, applying a well-known digital noise characterisation technique called randomized benchmarking (RB) to the analogue setting. RB is a scalable experimental technique that provides a measure of the average error-rate of a gate-set on a quantum hardware, incorporating SPAM errors. We present the original form of digital RB, the necessary alterations to translate it to the analogue setting and introduce the analogue randomized benchmarking protocol (ARB). In ARB we measure the average error-rate per time evolution of a family of Hamiltonians and we illustrate this protocol with two case-studies of analogue models; classically simulating the system by incorporating several physically motivated noise scenarios. We find that for the noise models tested, the data fit with the theoretical predictions and we gain values for the average error rate for differing unitary sets. We compare our protocol with other relevant RB methods, where both advantages (physically motivated unitaries) and disadvantages (difficulty in reversing the time-evolution) are discussed.

**arXiv:** https://arxiv.org/abs/1909.01295

## Quantum certification and benchmarking

### Abstract

Concomitant with the rapid development of quantum technologies, challenging demands arise concerning the certification and characterization of devices. The promises of the field can only be achieved if stringent levels of precision of components can be reached and their functioning guaranteed. This review provides a brief overview of the known characterization methods of certification, benchmarking, and tomographic recovery of quantum states and processes, as well as their applications in quantum computing, simulation, and communication.

**arXiv:** https://arxiv.org/abs/1910.06343 

## Verification of quantum computation: An overview of existing approaches

### Abstract

Quantum computers promise to efficiently solve not only problems believed to be intractable for classical computers, but also problems for which verifying the solution is also considered intractable. This raises the question of how one can check whether quantum computers are indeed producing correct results. This task, known as quantum verification, has been highlighted as a significant challenge on the road to scalable quantum computing technology. We review the most significant approaches to quantum verification and compare them in terms of structure, complexity and required resources. We also comment on the use of cryptographic techniques which, for many of the presented protocols, has proven extremely useful in performing verification. Finally, we discuss issues related to fault tolerance, experimental implementations and the outlook for future protocols.

**arXiv:**  https://arxiv.org/abs/1709.06984

